* {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 777;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkslategrey;
    border-color: black;
    padding: 1%;
    border-style:groove;
    font-weight: 1000;
}

h1, h3, h4 {
    text-decoration: underline;

}

h3, h4, li, ol, ul {
    text-align: left;
    padding-left: 5vh;
}

img {
    width: 33vh;
}

h4 {
    text-align: left;
}